@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@700&family=Roboto&display=swap');


*{ box-sizing: border-box }
h1,h2,h3,h4,h5,h6{
    font-family: 'Playfair Display', serif;
}
html{
    background: white;
    padding: 1em;
    font-family: 'Roboto', sans-serif;

}
body {
    max-width: 900px;
    margin: 0 auto 2em ;
    padding: 0 1em;
}
#logo{
    widith: 100px;
}
a{
    color: darkblue;
}
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a {
    font-family: 'Playfair Display', serif;
    text-decoration: none;
    padding: 0 1em;
}