<div th:replace="fragments/header" />

<h2>Contact Information:</h2>
<ul class="contact-information">

    <li>
      <span class="material-icons contact-icon">mail</span>
      <strong>Email:</strong> jentyatrix@gmail.com
    </li>
    <li>
        <span class="material-icons contact-icon">phone_in_talk</span>
        <strong>Phone:</strong> 076-329 82 41
    </li>
    <li>
        <img src="/linkedin.png" alt="LinkedIn" class="contact-icon">
        <strong>LinkedIn:</strong>
        <a href="https://www.linkedin.com/in/jentrix">linkedin.com/in/jentrix</a>
    </li>
    <li>
    <img src="/github.png" alt="Github" class="contact-icon">
    <strong>Github:</strong>
    <a href="https://github.com/JentrixAhl">github.com/JentrixAhl</a>
    </li>
    </ul>

</li>

</ul>

<h2>Location:</h2>
<p>Gothenburg, Gothenburg County, Sweden</p>

</body>
</html>