<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jentrix Ahl</title>
</head>
<body>
<h1>Contact Information</h1>
<ul>
    <li>Email: <a href="mailto:jentyatrix@gmail.com">jentyatrix@gmail.com</a></li>
    <li>LinkedIn: <a href="https://www.linkedin.com/in/jentrix" target="_blank">www.linkedin.com/in/jentrix</a></li>
</ul>

<h1>Top Skills</h1>
<ul>
    <li>Database Management System (DBMS)</li>
    <li>Cloud Development</li>
    <li>Java programming</li>
    <li>Administration and security in cloud environments</li>
</ul>

<h1>Languages</h1>
<ul>
    <li>English (Full Professional)</li>
    <li>Swedish (Professional Working)</li>
    <li>Swahili (Native or Bilingual)</li>
</ul>

<h1>Summary</h1>
<p>Jentrix Ahl is a student at Jensen Education pursuing a career in cloud development with a focus on AWS. Simultaneously, they are studying Swedish as a second language at Cuben. Jentrix has prior experience as an Office Administrator in the legal services industry and is skilled in Microsoft Excel, Customer Service, Microsoft Word, Strategic Planning, and Public Speaking. They are now seeking an internship program in different companies with a focus on Cloud development with AWS. The internship is planned for 6 months, divided into two stages of 3 months each, starting from November 2023.</p>

</body>
</html>


