<div th:replace="fragments/header"/>

    <div class="row">
        <div class="column">
            <img src="/jenty.jpg" alt="Jentrix Ahl profile picture" id="profile-picture">
        </div>

        <div class="column">
        <h2>Professional overview:</h2>

            <p>I am a student at Jensen Education pursuing a career in cloud development with a focus on AWS.
                Simultaneously, I am studying Swedish as a second language at Cuben.
                I have prior experience as an Office Administrator and secretary in the legal services industry, Receptionist in a hospital environment and a nanny at preschools with Gothenburg county. I am skilled in Microsoft packages, Customer Service, Strategic Planning, and Public Speaking.
            </p>

            <p>
                I am now searching for an internship program in different companies with a focus on Cloud development with AWS and flexible to learn other cloud platforms.
                The internship is planned for 6 months but divided into two stages of 3 months each, starting from November 13th, 2023.
            </p>

        </div>
    </div>

<h2>Key Skills</h2>
<ul>
    <li>Database Management System (DBMS)</li>
    <li>Cloud Development</li>
    <li>Java programming</li>
    <li>Administration and security in cloud environments</li>
</ul>

<h2>Languages</h2>
<ul>
    <li>English (Full Professional)</li>
    <li>Swedish (Professional Working)</li>
    <li>Swahili (Native or Bilingual)</li>
</ul>

<h2>Hobbies</h2>
<ul>
    <li>Learning new things</li>
    <li>Doing craft work</li>
    <li>Sports</li>
</ul>


</body>
</html>


