<div th:replace="fragments/header"/>

<h2>My projects include:- </h2>

<h3>HospitalProject</h3>

<p>Description:- </p>
<p>The task uses Spring frameworks and API which is to help me learn basics in system development.</p>
<p>Here I managed to create a system via Java Spring for a hospital. In this project I have a simple hospital program used by the receptionist to register a patient, view patients list, deregister a patient on discharge and edit patients' details if needed. </p>
<p>
    <a href="https://github.com/JentrixAhl/HospitalProject">Link to github</a>

</p>

<h3>spring_cognito_oauth</h3>

<p>Description:- </p>
<p>The task uses Spring Boot application to connect to AWS Cognito via a java code.</p>
<p>The project is about a simple web application in Spring Boot project
    using AWS Cognito to implement some features like Sign-up, Sign-in, Logout and Delete
    account.</p>
<p>
    <a href="https://github.com/JentrixAhl/spring_cognito_oauth">Link to github</a>

</p>

<h3>Systematic</h3>

<p>Description:- </p>
<p>The task uses Jakarta EE. The task is to help me as a learner to practically apply my knowledge within Jakarta EE and to learn how to create and manage database tables to store information with JPA.</p>
<p>The project is about a simple basic application with features like creating, reading, updating and removing data from a database.</p>
<p>
    <a href="https://github.com/JentrixAhl/Systematic">Link to github</a>

</p>

</body>
</html>


